.button {
  background-color: black;
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 100px;
  color: white;
  font-family: "TTCommonsProDemiBold";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
.button:hover {
  background-color: #222222;
}
.smallButton {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.text-button {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  padding: 0px;
  background-color: transparent;
  color: black;
  border: none;
  width: auto;
  margin-right: auto;
  font-family: "TTCommonsProBold";
}

.iconButton {
  background-color: transparent;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
.iconFilledButton {
  background-color: black;
  color: white;
}
.iconSimpleButton {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-left: -8px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  display: flex;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
