---
import Header from "./Header.astro";

export interface Props {
  headerText: string;
}

const { headerText } = Astro.props;
---

<div class="inputContainer">
  <Header headerSize="small" id="addCommandHeader">{headerText}</Header>
  <slot />
</div>
