---
export interface Props {
  ids: string;
}

const { ids } = Astro.props;
---

<div class="interactionsListing" id={ids}>
  <slot />
</div>

<style>
  .interactionsListing {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
</style>
